/* Trabajo en base a: 
   https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
   https://github.com/alura-es-cursos/2074-html-css-posicionamiento-flexbox/tree/aula3
   https://github.com/alura-es-cursos/2074-html-css-posicionamiento-flexbox/tree/aula4
   https://css-tricks.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    height: 100vh;
    box-sizing: border-box;

}

/* strong {
    color: #22D4FD;
} */

h1{
    font-weight: bold;
}

/* span{
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 10px;
} */

/* Pasamos de lo general a lo especifico. */
.section-title {
    color: #22D4FD;
    /* border: 1px solid #22D4FD; */
    /* padding: 10px; */
}

.texto-destacado {
    font-weight: bold; /* Asegura que el texto esté en negrita */
    font-style: italic; /* Itálicas */
    color: #a9c5f0;    /* Color del texto */
    /* background-color: #46464D; /* Fondo resaltado */
    /* padding: 1px 2px; /* Opcional: espacio alrededor del texto */
    /* border-radius: 2px; /* Opcional: bordes redondeados */ 
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between;
}

.presentación__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentación__contenido__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;    
}

.presentación__contenido__texto {  
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
}

.presentacion__enlaces__links {
    width: 280px;
    background-color: #22D4FD;
    text-align: center;
    padding: 21,5px 0;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}