/* Trabajo en base a: 
   https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
   https://css-tricks.com/
   https://github.com/alura-es-cursos/2080-html-css-header-footer-variables/tree/aula5
*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: #F6F6F6;
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    color: VAR(--COLOR-TERCIARIO);
    text-decoration: none;
}

h1{
    font-weight: bold;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}

.presentación__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentación__contenido__titulo {
    font-family: var(--fuente-krona);
    font-size: 36px;    
}

/* Pasamos de lo general a lo especifico. */
.section-title {
    color: VAR(--COLOR-TERCIARIO);
}

.texto-destacado {
    font-weight: bold; /* Asegura que el texto esté en negrita */
    font-style: italic; /* Itálicas */
    color: #a9c5f0;    /* Color del texto */
}

.presentación__contenido__texto {  
    font-family: var(--fuente-montserrat);
    font-size: 24px;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__links {
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21,5px 0;
    text-decoration: none;
    color: #F6F6F6;   
    font-family: var(--fuente-montserrat);
    border: 2px solid VAR(--COLOR-TERCIARIO);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.presentacion__enlaces__links:hover {
    background-color: #272727;
    cursor: pointer;
}

.footer {
    background-color: VAR(--COLOR-TERCIARIO);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400;
}

